@import 'style/base';

section.cart__container {
  padding: 0px 24px;
  margin-top: 166px;
  border: 1px solid #F0F0F5;
  border-radius: 8px;

  h3.cart__title {
    display: flex;
    flex: 0 0 100%;
    margin: 32px 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }
}

section.cart__info {
  border-top: 1px solid #F0F0F5;
  padding-top: 16px;
  padding-bottom: 32px;
  align-items: center;
  justify-content: space-between;

  .cart__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: var(--main-text);
  }

  .cart__price {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
}

@media screen and (max-width: $screen-break-point) {
  section.cart__container {
    margin-top: 32px;
    padding-top: 18px;

    h3.cart__title {
      display: none;
    }
  }

  section.cart__info {
    padding-bottom: 16px;
  }
}