@import 'style/base';

section.product__list {
  .product__container {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 2px;
    margin-bottom: 32px;

    .img__container {
      width: 100px;
      height: 100px;
      margin-right: 21px;
    }

    .product__info {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      align-content: flex-start;

      .product__name {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        max-width: 60%;
        margin-right: auto;
      }

      .product__control__container {
        display: block;
        width: 100%;
        order: 1;
      }

      .product__control {
        display: flex;
        width: 116px;
        margin-top: 18px;
        margin-bottom: 17px;
        justify-content: space-between;
        align-items: center;

        .product__action {
          display: inline-block;
          width: 27px;
          height: 26px;
          cursor: pointer;
        }

        .product__count {
          display: inline-block;
        }
      }

      .product__price {
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
      }
    }
  }
}

@media screen and (max-width: $screen-break-point) {
  section.product__list {
    .product__container {
      .product__info {
        flex-direction: column;
        align-items: flex-end;
        flex-wrap: nowrap;
        justify-content: space-between;

        .product__name {
          margin-right: unset;
          max-width: unset;
        }

        .product__control__container {
          width: auto;
          order: unset;

          .product__control {
            margin-top: 0px;
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}